<div class="d-inline">
    <div class="left">
        <h2 style='background-color: rgb(218, 218, 218)'>${{reportData | json}} </h2>
        <h5>Cash Hold: ${{reportCash | json}}</h5>
        <h5>Today's Gain: <span class="gain">+${{reporttgl | json}}</span></h5>
        <h5>Total Gain: <span class="gain">+${{reportgl | json}}</span></h5>
    </div> 
      
    <div class="left">
        <h4>Gainer</h4>
        <div class="fakeimg">
          <p>{{top5[0].stock_name}}     <span class="gain">{{top5[0].gain_loss}}</span></p>
          <p>{{top5[1].stock_name}}     <span class="gain">{{top5[1].gain_loss}}</span></p>
          <p>{{top5[2].stock_name}}     <span class="gain">{{top5[2].gain_loss}}</span></p>
          <p>{{top5[3].stock_name}}     <span class="gain">{{top5[3].gain_loss}}</span></p>
          <p>{{top5[4].stock_name}}     <span class="gain">{{top5[4].gain_loss}}</span></p>
        </div>
     </div>
      <div class="left">
          <h4>Loser</h4>
        <div class = "fakeimg">
          <p>{{loser5[0].stock_name}}     <span class="loss">{{loser5[0].gain_loss}}</span></p>
          <p>{{loser5[1].stock_name}}     <span class="loss">{{loser5[1].gain_loss}}</span></p>
          <p>{{loser5[2].stock_name}}     <span class="loss">{{loser5[2].gain_loss}}</span></p>
          <p>{{loser5[3].stock_name}}     <span class="loss">{{loser5[3].gain_loss}}</span></p>
          <p>{{loser5[4].stock_name}}     <span class="loss">{{loser5[4].gain_loss}}</span></p>
        </div>
        

      </div>

</div>