
  article {background-color: rgb(233, 240, 233);}
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    left:-100px; 
    top:150px
  }
  

  .left {
    float: left;
    width: 250px;
    padding: 10px;
    box-shadow: 2px 2px;
    background-color: whitesmoke;}
  

  .gain{
    color:green;
    tab-size: 16;
  }
  
  .loss{
    color:red;
    tab-size: 16;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 0px;
  }
  
  .fakeimg {
    background-color: rgb(218, 218, 218);
    width: 100%;
    padding: 20px;
  }