<p>Welcome, Admin</p>
<form>
   Select Data that you wish to pull 
    <select [(ngModel)]='paramObj.category' name='category'>
        <option value="users">Users</option>
    </select><br/>
    Select an ID (1-9)
        <input type="range" min="1" max="9" [(ngModel)]='id' name="id"/>{{id}}
    Enter a user's name
        <input placeholder='Name' [(ngModel)]='name' name="name"/>
</form>
<button mat-raised-button (click)='serviceCallAllUsers()'>Get All Users</button>
<button mat-raised-button (click)='serviceCallUserById()'>Get User By ID</button>
<button mat-raised-button (click)='serviceCallUserByName()'>Get User By Name</button>
<section>
    <p>{{allUsers | json }}</p><br/>
    <!-- <p>Name: {{allUsers[0].name}}</p>
    <p>Cash Value: {{allUsers[0].cash_value}}</p>
    <p>Investment Value: {{allUsers[0].investment_value}}</p> 
    <p>Net Worth: {{allUsers[0].net_worth}}</p> -->
</section>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>User By Id</mat-card-title>
    <mat-card-subtitle>api data</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>UserId: {{userById.id ? userById.id:errorMessage }}</p>
    <p>Name: {{userById.id ? userById.name:errorMessage }}</p>
    <p>Cash Value: {{userById.id ? userById.cash_value:errorMessage }}</p>
    <p>Investment Value: {{userById.id ? userById.investment_value:errorMessage }}</p> 
    <p>Net Worth: {{userById.id ? userById.net_worth:errorMessage }}</p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>User By Id</mat-card-title>
    <mat-card-subtitle>api data</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Name: {{userByName[0].name ? userByName[0].name:errorMessage }}</p>
    <p>Cash Value: {{userByName[0].name ? userByName[0].cash_value:errorMessage }}</p>
    <p>Investment Value: {{userByName[0].name ? userByName[0].investment_value:errorMessage }}</p> 
    <p>Net Worth: {{userByName[0].name ? userByName[0].net_worth:errorMessage }}</p>
  </mat-card-content>
</mat-card>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>User By Id</mat-card-title>
    <mat-card-subtitle>api data</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Name: {{userByName[0].name ? userByName[0].name:errorMessage }}</p>
    <p>Cash Value: {{userByName[0].name ? userByName[0].cash_value:errorMessage }}</p>
    <p>Investment Value: {{userByName[0].name ? userByName[0].investment_value:errorMessage }}</p> 
    <p>Net Worth: {{userByName[0].name ? userByName[0].net_worth:errorMessage }}</p>
  </mat-card-content>
</mat-card>



