<p>Welcome, Admin</p>
<form>
   Select Data that you wish to pull 
    <select [(ngModel)]='paramObj.category' name='category'>
        <option value="users">Users</option>
    </select><br/>
    Select an ID (1-9)
        <input type="range" min="1" max="9" [(ngModel)]='id' name="id"/>{{id}}
    Enter a user's name
        <input placeholder='Name' [(ngModel)]='name' name="name"/>
    Enter a first date
      <input type="date" placeholder='Date1' [(ngModel)]='date1' name="date1"/>
    Enter a second date
      <input type="date" placeholder='Date2' [(ngModel)]='date2' name="date2"/>
</form>
<button (click)='serviceCallAllUsers()'>Get All Users</button>
<button (click)='serviceCallUserById()'>Get User By ID</button>
<button (click)='serviceCallUserByName()'>Get User By Name</button>
<button (click)='serviceCallUserByName()'>Get User By Name</button>
<button (click)='serviceBuyStockInRange()'>Get Buy Stocks In Range</button>
<button (click)='serviceSellStockInRange()'>Get Sell Stocks In Range</button>

<div class="p-2" style="display: flex;">
    
    <div class="card p-2" style="width: 15rem;">
      <div class="card-body">
        <h4 class="card-title fw-bold">Get User All Users</h4>
        <p class="card-text">{{allUsers | json }}</p><br/>
      </div>
    </div>


    <div class="card p-2" style="width: 15rem;">
      <div class="card-body">
        <h4 class="card-title fw-bold">Get User By ID</h4>
        <p class="card-text">UserId: {{userById.id ? userById.id:errorMessage }}</p>
        <p class="card-text">Name: {{userById.id ? userById.name:errorMessage }}</p>
        <p class="card-text">Cash Value: {{userById.id ? userById.cash_value:errorMessage }}</p>
        <p class="card-text">Investment Value: {{userById.id ? userById.investment_value:errorMessage }}</p> 
        <p class="card-text">Net Worth: {{userById.id ? userById.net_worth:errorMessage }}</p>
      </div>
    </div>


    <div class="card p-2" style="width: 15rem;">
      <div class="card-body">
        <h4 class="card-title fw-bold">Get User By Name</h4>
        <p class="card-text">Name: {{userByName[0].name ? userByName[0].name:errorMessage }}</p>
        <p class="card-text">Cash Value: {{userByName[0].name ? userByName[0].cash_value:errorMessage }}</p>
        <p class="card-text">Investment Value: {{userByName[0].name ? userByName[0].investment_value:errorMessage }}</p> 
        <p class="card-text">Net Worth: {{userByName[0].name ? userByName[0].net_worth:errorMessage }}</p>
      </div>
    </div>
    
  </div>


  
