<p>Welcome, Admin</p>
<form>
   Select Data that you wish to pull 
    <select [(ngModel)]='paramObj.category' name='category'>
        <option value="users">Users</option>
    </select><br/>
    <!-- Select an ID (1-9)
        <input type="range" min="1" max="9" [(ngModel)]='id' name="id"/>{{id}}
    Enter a user's name
        <input placeholder='Name' [(ngModel)]='name' name="name"/> -->
    Enter a first date
      <input placeholder='Date1' [(ngModel)]='date1' name="date1"/>
    Enter a second date
      <input placeholder='Date2' [(ngModel)]='date2' name="date2"/>
</form>





  
