body { font-family: 'Times New Roman', Times, serif; 
  /* background-color: rgb(30, 28, 49); */
}

.center {
  background-color :#96D4D4;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border-style: ridge;
  margin:0;
  color: black;
}

.sidebar {
  background-color: #0FF;
  width: 80px;
  position: absolute;
  top: 62px;
  min-height: 250px;
  }

  

.main {
    margin-left: 260px;
    min-height: 300px;
 }

nav {
  float: left;
}

nav a {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 0px;
  padding-top: 10px;
  position: relative;
}

.sidebar_r{
  background-color: #0FF;
  width: 80px;
  float:left;
  top: 0px;
  min-height: 200px;
  }

