<!-- here we write our own component template -->
<html>
<body>

  <header>
    <h1 class='center'>John's Personal Portfolio</h1>
    <section class="left">
      <!-- <button onload='serviceCallTotalNetworth()'>Go</button> -->
      <h2>${{reportData | json}} </h2>
      <p>Cash Hold:</p>
      <p>Today's Gain:</p>
      <p>Total Gain:</p>
    </section>
    <section class="right">
      <h3>Gainer</h3>
    </section>
    <section class="right">
      <h3>Loser</h3>
    </section>
  </header>

  <body>
  <app-users></app-users>
  </body>
</body>
<script>
  setTimeout(() => {
  console.log("hi")
}, 1000);
</script>
</html>
